/* лого чорний #000000 */
/* основний синій #2196F3 */
/* основний чорний #212121 */
/* сірий номер телефону #757575 */
/* основний блок Hero білий #FFFFFF */
/* футер посилання та телефон чорний з прозорістю rgba(255, 255, 255, 0.6) */
/* блок Hero і футер колір фону #2F303A */



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --focus-color: #FFFFFF;
    --logo-header-color: #000000;
    --mail-tel-footer-color: rgba(255, 255, 255, 0.6);
    --section-background-color: #2F303A;
    --main-background-color: #F5F5F5;
    --button-hover-color: #188CE8;
    --box-shadow-hero: rgba(0, 0, 0, 0.15);
    --box-shadow-one: rgba(0, 0, 0, 0.1);
    --box-shadow-two: rgba(0, 0, 0, 0.08);
    --box-shadow-three: rgba(0, 0, 0, 0.12);
}

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Шапка */

ul {
    list-style: none;
}

.page-logo,
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.page-logo .first-part {
    color: var(--accent-color);
}

.page-logo .second-part {
    color: var(--logo-header-color);
}

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header-email,
.header-tel {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* main */

.hero {
    background-color: var(--section-background-color);
}

.hero-title {
    color: var(--focus-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--focus-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px var(--box-shadow-hero);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-hover-color);
}

.section .section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


.features .title {
    color: var(--title-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .description {
    line-height: 1.71;
}

.staff .name {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.staff .post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

footer {
    background-color: var(--section-background-color);
}

.logo-footer .first-part {
    color: var(--accent-color);
}

.logo-footer .second-part {
    color: var(--focus-color);
}

address .contacts {
    font-style: normal;
    line-height: 1.71;

}

.contacts .map {
    color: var(--focus-color);
    text-decoration: none;
}

.contacts .mail,
.contacts .telephone {
    color: var(--mail-tel-footer-color);
    text-decoration: none;
}

/* Стилі Портфоліо */

.filters .filters-button {
    color: var(--title-text-color);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;

} 

.filters .filters-button:hover,
.filters .filters-button:focus {
    color: var(--focus-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--box-shadow-one), 0px 1px 2px var(--box-shadow-two), 0px 2px 2px var(--box-shadow-three);
}

.projects .name {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects p {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}