/* лого чорний #000000 */
/* основний синій #2196F3 */
/* основний чорний #212121 */
/* сірий номер телефону #757575 */
/* основний блок Hero білий #FFFFFF */
/* футер посилання та телефон чорний з прозорістю rgba(255, 255, 255, 0.6) */
/* блок Hero і футер колір фону #2F303A */



:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}


body {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

/* Шапка */

ul {
    list-style: none;
}

.page-logo .first-part {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
}

.page-logo .second-part {
    color: #000000;
    font-family: Raleway, sans-serif;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header-email,
.header-tel {
    color: var(--primary-text-color);
}

.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
}

.hero-button {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.section .section-title {
    color: var(--title-text-color);
}

.features .title {
    color: var(--title-text-color);
}

.staff .name {
    color: var(--title-text-color);
}

footer {
    background-color: #2F303A;
}

.logo-footer .first-part {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
}

.logo-footer .second-part {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
}

.contacts .map {
    color: #FFFFFF;
}

.contacts .mail,
.contacts .telephone {
    color: var(--primary-text-color);
}

/* Стилі Портфоліо */